
<%= @results %>

<table class="table">
    <% @results.each do |row| %>
        <tr>
            <td><%= row['Name'] %></td>
            <td><%= row['Phone'] %></td>
            <td><%= row['DateTime'] %></td>
            <td><%= row['Barmen'] %></td>
            <td><%= row['Color'] %></td>
        </tr>
    <% end %>
</table>